.last-msg {
  margin: 60px 24px;
}

.last-msg-text {
  color: #172b4d;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  line-height: 52px;
  font-style: normal;
}

.click:hover {
  cursor: pointer;
  background-color: #008552;
}

form {
  margin: 0 16px;
  position: relative;
}

.ftext {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #6b778c;
  font-style: normal;
}

form input {
  width: 327px;
  height: 48px;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid #d0d9d4;
  background: #fff;
}

.femail {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  margin-top: 24px;
  color: #6b778c;
  font-style: normal;
}

form textarea {
  width: 327px;
  height: 100px;
  border-radius: 4px;
  border: 1px solid #60c095;
  margin-top: 24px;
  background: #fff;
}

.ftextarea {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  margin-top: 24px;
  color: #091e42;
  font-style: normal;
  padding-left: 16px;
  padding-top: 12px;
}

.ftextarea::placeholder {
  color: black;
}

.get-in-touch {
  padding: 12px;
  background: #36b37f;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  border-style: none;
  border-radius: 4px;
  margin-top: 24px;
  margin-left: 99px;
}

.footer-social-icons {
  margin-top: 46px;
}

.image2 {
  position: absolute;
  right: -17px;
  bottom: 0;
}

.footer-email {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #42526e;
  font-style: normal;
  text-align: center;
}

.footer hr {
  margin: 100px 120px 10px 121px;
  width: 134px;
  height: 4px;
  background: #0d151e;
  border-radius: 10px;
}

